<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>WebApp</title>
</head>

<body>

    <header>
        <div class="nav-bar">
            <a href="/">HOME</a>
            <a href="/user/login">LOGIN</a>
        </div>

        <!--<div class="side-nav-bg hide">
            <div class="side-nav">
                <div class="side-nav-header">
                    <div class="side-nav-btn">
                        <span class="up-line"></span>
                        <span class="middle-line"></span>
                        <span class="bottom-line"></span>
                    </div>
                    <a href="/" class="side-nav-logo">
                        <h1>NoteBook</h1>
                    </a>
                </div>
                <div class="side-nav-menu">
                    <a href="/">HOME</a>
                    <a href="/dashboard">Dashboard</a>
                    <a href="/user/login">LOGIN</a>
                </div>
            </div>
        </div>-->
    </header>