<%- include ('partials/header') -%>

<div class="login-box">
  <div class="login-header">
    <h1>Register</h1>
  </div>
  <div class="login-form">

    <% if (typeof err_msg !== 'undefined') { %>
      <div class="msg-box error">
        <%= err_msg %>
        <div class="close-btn">
          <span class="left-line"></span>
          <span class="right-line"></span>
        </div>
      </div>
    <% } %>

    <form method="POST">
      <input type="username" id="username" name="username" placeholder="Enter username">
      <input type="email" id="email" name="email" placeholder="Enter email">
      <input type="password" id="password" name="password" placeholder="Enter password">
      <button type="submit">CONFIRM</button>
    </form>
  </div>
  <div class="login-footer">
    <span>Already have an account.</span>
    <a href="/user/login">Click here</a>
  </div>
</div>

<%- include ('partials/footer') -%>